  html, body {
    height: 100%;

  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .wrapper {
    position: relative;
    overflow: hidden;
  }


  .wrapper:after {
    content: "";
    position: absolute;
    top: -9%;
    left: -50%;
    right: -15%;
    bottom: 9%;
    transform: rotate(-4deg);
    background-image: linear-gradient(181deg, #1a4789 0%, #6dbbd9 100%);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    z-index: -5;
    -webkit-transform: rotate(-4deg);
}

  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1em 0;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo p {
    margin-left: 10px;
    font-size: 2em;
    color: #ffffff;
    font-weight: 700;
  }

  .logo img {
    width: 45px;
    height: 45px;
  }

  .say-hi {
    font-size: 1em;
    color: #ffffff;
    font-family: "Helvetica Neue";
    width: 6.5rem;
    height: 2.8rem;
    border-radius: 5px;
    background-color: #ff9c00;
    border: none;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;

    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    font-family: "Helvetica Neue";
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #ffffff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }

  article {
    display: flex;
    width: 80%;
    margin: 2rem auto;
    padding-bottom: 10rem;
    align-items: center;
  }

  .article-text, .article-text1 {
    margin: 0 7%;
    width: 60%;
  }


  .article-text1 h1 {
    font-size: 40px;
    color: #072753;
    font-family: "Helvetica Neue";
  }

  .article-text h1 {
    font-size: 45px;
    line-height: 65px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Helvetica Neue";
  }

  .article-text1 p {
    font-size: 15px;
    line-height: 26px;
    color: #28384e;
    font-family: "Helvetica Neue";
  }

  .article-text p {
    font-size: 15px;
    line-height: 26px;
    color: #ffffff;
    font-family: "Helvetica Neue";
  }

  .article-imgs {
    position: relative;
    z-index: 0;
  }

  .read-more {
    font-size: 15px;
    color: #ffffff;
    font-family: "Helvetica Neue";
    width: 8.5rem;
    height: 3rem;
    border-radius: 5px;
    background-color: #ff9c00;
    border: none;
    margin-top: 2rem;
  }


  .elipse {
    width: 10%;
    height: 11%;
    border: 3px solid #ff9c00;
    position: absolute;
    top: 5%;
    right: 3%;
    z-index: -1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


  .main-pic {
    width: 100%;
    height: 100%;
  }

  .rectangleL {
    width: 8%;
    height: 8%;
    border-radius: 10%;
    border: 3px solid #ff9c00;
    position: absolute;
    top: 43%;
    right: 93%;
    z-index: -1;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
  
.rectangleR {
    width: 8%;
    height: 8%;
    border-radius: 10%;
    border: 3px solid #ff9c00;
    position: absolute;
    top: 83%;
    right: 6%;
    z-index: -1;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
 
main {
    display: flex;
    flex-direction: column;
    width: 80%;    
    margin: 3rem auto;

}

.main-head {
    text-align: center;
}

.main-head h2 {
    font-size: 40px;
    color: #072753;
    font-family: "Helvetica Neue";
}

.main-head p {
    font-size: 15px;
    line-height: 26px;
    color: #28384e;
    font-family: "Helvetica Neue";
}

.main-content {
    display: flex;
    margin: 4rem 7%;

}

.main-content div {
    margin-right: 10%;
    margin-top: 1.5rem;
}

.main-content h3 {
    font-size: 20px;
    line-height: 26px;
    color: #072753;
    font-family: "Helvetica Neue";
    margin: 1rem 0;
}

.main-content p {
    font-size: 15px;
    line-height: 26px;
    color: #28384e;
    font-family: "Helvetica Neue";
    margin-bottom: 1rem;
}






  @media (max-width: 940px) {
    .logo p {
        font-size: 1.70em;
    }

    .say-hi {
        width: 5.5rem;
        height: 2.3rem;
    }

    .logo img {
        width: 35px;
        height: 35px;
      }

    .menu > li {
        margin: 0 0.7rem;
      }

    .article-text h1 {
        font-size: 35px;
        line-height: 55px;
      }

    .article-text1 h1 {
        font-size: 35px;
        line-height: 55px;
      }
  }




  @media (max-width: 700px) {
    .logo p {
        font-size: 1.5em;
    }
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background: linear-gradient(181deg, #1a4789 0%, #6dbbd9 100%);      
    }

    article {
        flex-direction: column;
      }

    .main-content {
        flex-direction: column;
        text-align: center;
    }
    
  }